.font-pt {
    font-family: 'PT Serif', serif;
}
.font-roboto {
    font-family: 'Roboto', sans-serif;
}
.font-condensend {
    font-family: 'Roboto Condensed', sans-serif;
}
.hero-section {
    position: relative;
}
.hero-pozadina {
    position: absolute;
    bottom: 0;
    /*background: rgb(0, 0, 0);*/
    /*background: rgba(100, 196, 237, 0.2);*/
    color: #f1f1f1;
    width: 100%;
    height: 100%;
}
.dugme {
    font-size: 16px;
    color: white;
    padding: 4px 20px;
    background-color: #0fa3b2;
    border-radius: 50px;
    box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.50);
    text-decoration: none;
}

.dugme:hover {
    color: white;
    background-color: #12c0d3;
}
nav {
    background-color: #d8f2f4 !important;
}
.navbar-brand {
    color: #262626 !important;
}
.nav-link {
    color: #595959 !important;
}

.nav-link:hover {
    /*background-color: #00afb9;*/
    color: #262626 !important;
}
 .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(0, 0, 0, 0.5)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.border-levo {
    border-left: 3px solid #0fa3b2;
}
.ingrid {
    background-color: #d8f2f4;
}
.dugme-ingrid {
    font-size: 16px;
    color: #262626;
    padding: 4px 20px;
    border: 1px solid #0fa3b2;
    border-radius: 50px;
    box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.50);
    text-decoration: none;
}

.dugme-ingrid:hover {
    color: white;
    background-color: #12c0d3;
}
.preventiva {
    background-color: #0fa3b2;
}
.dugme-preventiva {
    font-size: 16px;
    color: white;
    padding: 4px 20px;
    border: 1px solid white;
    border-radius: 50px;
    box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.50);
    text-decoration: none;
}

.dugme-preventiva:hover {
    color: #262626;
    background-color: #12c0d3;

}
.promo {
    background-color: #d8f2f4;
}
.color-aqua {
    color: #12c0d3;
}
.dugme {
    font-size: 16px;
    color: white;
    padding: 4px 20px;
    background-color: #0fa3b2;
    border-radius: 50px;
    box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.50);
    text-decoration: none;
}

.dugme:hover {
    color: white;
    background-color: #12c0d3;
}
.interesting {
    background-image: url("../images/parazit-tirk.jpg");
    background-size: cover;
}
.interesting-pozadina {
    background-color: rgba(73, 161, 175, 0.5);
}
.footer-row {
    border-top: 1px solid #595959;
}
.social-network .fab, .social-network  .fas {
    color: #0fa3b2;
}
.social-network a {
    text-decoration: none;
}
.color-white {
    color: white;
}
.dugme-white {
    font-size: 16px;
    color: #262626;
    padding: 4px 20px;
    background-color: white;
    /*border: 1px solid #0fa3b2;*/
    border-radius: 50px;
    box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.50);
    text-decoration: none;
}

.dugme-white:hover {
    /*color: white;*/
    background-color: #f2f2f2;
    color: #262626;
}
.dugme-o-nama {
    font-size: 16px;
    color: #0fa3b2;
    padding: 4px 20px;
    border: 1px solid #0fa3b2;
    border-radius: 50px;
    box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.50);
    text-decoration: none;
}

.dugme-o-nama:hover {
    color: white;
    background-color: #12c0d3;
}
.border-botom {
    border-bottom: #262626 1px solid;
}
.clanovi a {
    text-decoration: none;
    color: #262626;
}
.clanovi a:hover {
    color: #12c0d3;
}
table, tr, td, th {
    background-color: #0fa3b2 !important;
}
.dropdown-menu {
    background-color: #d8f2f4 !important;
}
.dropdown-item:hover {
    background-color: white !important;
}
.navbar {
    font-size: 17px;
    -webkit-box-shadow: 0 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    box-shadow: 0 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);;
}
.aktivno > a {
    color: #262626 !important;
}
.aktivno-lista > a {
    background-color: white !important;
    color: #262626 !important;
}
.back-to-top {
    position: fixed;
    bottom: 25px;
    right: 25px;
    display: none;
    color: #0fa3b2 !important;
    background-color: white !important;
    border: 1px solid #0fa3b2 !important;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.20), 0 4px 6px 0 rgba(0, 0, 0, 0.20) !important;
}

.back-to-top:hover {
    color: white !important;
    background-color: #0fa3b2 !important;
}
.kontakt-pozadina {
    background-image: url("../images/kontakt-parazit.jpg");
    background-size: cover;
}
.kontakt-background {
    background-color: rgba(73, 161, 175, 0.1);
}