/*// X-Small devices (portrait phones, less than 576px)*/
/*// No media query for `xs` since this is the default in Bootstrap*/

/*// Small devices (landscape phones, 576px and up)*/
@media (max-width: 575px) {
    .hero-cap {
        font-size: 24px;
    }
    .hero-p {
        font-size: 16px !important;
    }
}

@media (min-width: 576px) {
    .hero-p {
        font-size: 17px !important;
    }
}

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {

}

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    .nav-border {
        border-right: 1px solid #00afb9;
    }
    .hero-p {
        font-size: 19px !important;
    }
}

/*// X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

}

/*// XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) {
    .hero-p {
        font-size: 22px !important;
    }
}
.grey-color {
    color: #595959;
}
.navbar {
    background-color: white;
    /*color: white !important;*/
    font-size: 20px;
    padding-top: 2px !important;
    padding-bottom: 2px !important;
    -webkit-box-shadow: 0 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
    box-shadow: 0 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);;
}
.different::after {
    content: '';
    display: block;
    width: 0;
    height: 1px;
    background-color: #00afb9;
    transition: width ease .3s;
}

.different:hover::after {
    width: 100%;
}

.nav-link {
    color: #00afb9 !important;
}
.nav-link:hover {
    /*background-color: #00afb9;*/
    color: #007980 !important;
}

.dropdown-menu {
    background-color: #00afb9 !important;
}
.dropdown-item {
    color: white !important;
}
.dropdown-item:hover {
    background-color: white !important;
    color: #007980 !important;
}
.oblak {
    font-size: 16px;
    color: white;
    padding: 2px 8px;
    background-color: #00afb9;
    border-radius: 50px;
    box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.50);
    text-decoration: none;
}
.oblak:hover {
    color: white;
    padding: 2px 8px;
    background-color: limegreen;
    border-radius: 50px;
    box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.50);
    text-decoration: none;
}
.greyscale img {
    filter: none;
}
.greyscale:hover img {
    filter: invert(26%) sepia(26%) saturate(2595%) hue-rotate(15deg) brightness(49%) contrast(101%);;
}
.hero-div {
    position: relative;
}

.hero-pozadina {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(100, 196, 237, 0.6); /* Blue background with 0.5 opacity */
    color: #f1f1f1;
    width: 100%;
    height: 100%;
}

.hero-cap {
    /*position: absolute;*/
    /*right: 15%;*/
    /*top: 15%;*/
    /*transform: translateY(-15%);*/
    /*left: 15%;*/
    /*padding-top: 1.25rem;*/
    /*padding-bottom: 1.25rem;*/
    color: #fff;
    /*text-align: center;*/
}
.hero-p {
    color: #fff;
    /*font-size: 18px;*/
    /*position: absolute;*/
    /*right: 15%;*/
    /*top: 30%;*/
    /*transform: translateY(-30%);*/
    /*left: 15%;*/
    /*padding-top: 1.25rem;*/
    /*padding-bottom: 1.25rem;*/
    /*text-align: center;*/
}
.hero-icons {
    position: absolute;
    right: 15%;
    top: 70%;
    transform: translateY(-70%);
    left: 15%;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: #fff;
    text-align: center;
}
.back-to-top {
    position: fixed;
    bottom: 25px;
    right: 25px;
    display: none;
    color: #00afb9 !important;
    background-color: white !important;
    border: 1px solid #00afb9 !important;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.20), 0 4px 6px 0 rgba(0, 0, 0, 0.20) !important;
}
.back-to-top:hover {
    color: white !important;
    background-color: #00afb9 !important;
}
.hero-img {
    object-fit: cover;
    /*opacity: 0.65;*/
}
.usluge .card {
    box-shadow: rgba(0, 0, 0, 0.25) 0 5px 5px, rgba(0, 0, 0, 0.22) 0 5px 5px;
}
.usluge .card, .usluge .card-footer {
    border-color: #fed9b7 !important;
}
.card-title a:link, .card-title a:visited {
    color: #00afb9 !important;
    text-decoration: none;
}
.card-title a:hover {
    color: #009199 !important;
}
.usluge .btn-warning {
    color: white !important;
    background-color: #00afb9 !important;
    border-color: #fed9b7 !important;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2), 0 4px 6px 0 rgba(0, 0, 0, 0.19) !important;
}

.usluge .btn-warning:hover {
    color: white !important;
    border-color: #fed9b7 !important;
    background-color: #009199 !important;
}

.btn-warning:focus {
    box-shadow: none !important;
}
.img-box {
    overflow: hidden;
    -webkit-transition: all 0.5s linear;
    transition: all 0.5s linear;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
}
.img-box:hover img {
    -webkit-transform: scale3d(1.2, 1.2, 1);
    transform: scale3d(1.2, 1.2, 1);
}
.img-box img, .img-box img::before, .img-box img::after{
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.hrono .card {
    box-shadow: rgba(0, 0, 0, 0.25) 0 5px 5px, rgba(0, 0, 0, 0.22) 0 5px 5px;
}
.hrono .card {
    background-color: #fed9b7;
    border-bottom: 2px solid #00afb9 !important;
}